<div class="container">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-7" >
            <h2 style="font-size: 24px;">Hi Viewers/Visitors ! </h2>

            <p>Good to see u again and Thanks for visiting our website. </p>

            <p>This website is mainly focuses on delivering the new content in the form of blogs and
            it related to informative and educational purpose.This website is currently in progress
            we are trying to complete as soon as possible.</p>

            <p>Thanks to all collaborators to helped me out to complete few of portions in this website
            and they will plan to release new portions shortly.</p>

            <p>We were always encourage new ideas and innovations.As we have less capactity to complete
            this website and If any one have intrested to work with us. </p>

            <p>Please send a mail to our mail box. Our collaborators will reach out to you shortly.</p>


            <p>Thanks,</p>
            <h2 style="font-size: 24px;">Letstalk Team.</h2>
        </div>
        <div class="col-md-4 letstalk_contributors" >
            <h1 class="letstalk-about-title">Let's Talk </h1>
            <h4>&copy;2021-2022 All Rights Reserved.</h4>
            <p>Our Collaborators</p>
            <ul>
                <li>Rajkumar</li>
                <li>Naveen Kumar</li>
                <li>Srikanth</li>
            </ul>
            <p>....</p>
            <div class="row">
                <div class="coffee-icon coffee-icon-1">
                    <div class="coffee-top"></div>
                    <div class="coffee-body"></div>
                </div>
                &nbsp;&nbsp;<p> Buy me a Coffee</p>
            </div>
        </div>
    </div>
</div>
