.closeIcon{
    border-radius: 50%;
    border: solid lightgray;
    float: right;
    height: 25px;
    width: 25px;
    padding-left: 5px;
    position: relative;
    bottom: 48px;
    left: 18px;
}

.closeIcon:hover{
    cursor: pointer;
}

pdf-viewer{
    height: auto;
    width: 100%;
    overflow-x:hidden !important;
}
