<nav class="main-navigation">
  <div class="navbar-header animated fadeInUp">
    <a class="navbar-brand" href="#" style="font-size: 26px;">Let's Talk</a>
  </div>
  <ul class="small-device-menu nav-list">
    <li class="nav-list-item"  title="Buy Me Coffee !!!">
      <a class="nav-link" routerLink="/about-us" [routerLinkActive]="['active']">
        <div class="coffee-icon coffee-icon-1">
          <span class="coffee-top"></span>
          <span class="coffee-body"></span>
        </div>
      </a>
    </li>
    <li class="nav-list-item dropdown" style="position: relative;
    z-index: 200;margin: 0px;" *ngIf="isUserLoggedIn">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hi! {{userName}} </a>
      <div class="dropdown-menu">
          <a routerLink="" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-inbox-fill" viewBox="0 0 17 19">
            <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
          </svg> Inbox</a>
          <a routerLink="/profile" [routerLinkActive]="['active']" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 17 19">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg> View profile</a>
          <a routerLink="/settings" [routerLinkActive]="['active']" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 17 19">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
          </svg> Settings</a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 17 17">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg> Logout</a>
      </div>
    </li>
    <li class="nav-list-item menu-icon-cls" style="margin: 0px;" *ngIf="!isMenuOpen"  (click)="isMenuOpen = !isMenuOpen">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </li>

    <li class="nav-list-item menu-icon-cls" style="margin: 0px;" *ngIf="isMenuOpen"  (click)="isMenuOpen = !isMenuOpen">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color: orangered;" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
      </svg>
    </li>
  </ul>
  <ul class="nav-list-small-screen nav-list" *ngIf="isMenuOpen">
    <li class="nav-list-item" *ngIf="isUserLoggedIn">
      <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-list-item" *ngIf="isUserLoggedIn">
      <a class="nav-link" routerLink="/blogs" [routerLinkActive]="['active']">My Blogs</a>
    </li>
    <li class="nav-list-item dropdown big-screen-menu" *ngIf="isUserLoggedIn">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Notifications</a>
      <div class="dropdown-menu">
      </div>
    </li>
    <ng-container *ngIf="isUserLoggedIn">
      <li class="nav-list-item" *appAdminDirective="isAdmin" >
        <a class="nav-link" routerLink="/users" [routerLinkActive]="['active']">Users</a>
      </li>
    </ng-container>
    <ng-container *ngIf="isUserLoggedIn">
      <li class="nav-list-item" *appAdminDirective="isAdmin" >
        <a class="nav-link" routerLink="/audits" [routerLinkActive]="['active']">Audits</a>
      </li>
    </ng-container>
    <li class="nav-list-item" *ngIf="isUserLoggedIn">
      <a class="nav-link" routerLink="/contact-us" [routerLinkActive]="['active']">Contact us</a>
    </li>
    <li class="nav-list-item" *ngIf="isUserLoggedIn">
      <a class="nav-link" routerLink="/about-us" [routerLinkActive]="['active']">About us</a>
    </li>
    <li class="nav-list-item" *ngIf="!isUserLoggedIn">
      <a class="nav-link" routerLink="/about-us" [routerLinkActive]="['active']">About us</a>
    </li>
    <li class="nav-list-item big-screen-menu" *ngIf="isUserLoggedIn" title="Buy Me Coffee !!!">
      <a class="nav-link" routerLink="/about-us" [routerLinkActive]="['active']">
        <div class="coffee-icon coffee-icon-1">
          <span class="coffee-top"></span>
          <span class="coffee-body"></span>
        </div>
      </a>
    </li>
    <li class="nav-list-item big-screen-menu" *ngIf="!isUserLoggedIn" title="Buy Me Coffee !!!">
      <a class="nav-link" routerLink="/about-us" [routerLinkActive]="['active']">
        <div class="coffee-icon coffee-icon-1">
          <span class="coffee-top"></span>
          <span class="coffee-body"></span>
        </div>
      </a>
    </li>
    <li class="nav-list-item dropdown big-screen-menu" *ngIf="isUserLoggedIn">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hi! {{userName}} </a>
      <div class="dropdown-menu">
          <a routerLink="" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-inbox-fill" viewBox="0 0 17 19">
            <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
          </svg>&nbsp; Inbox</a>
          <a routerLink="" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 17 19">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
          </svg>&nbsp; All Messages</a>
          <a routerLink="/profile" [routerLinkActive]="['active']" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 17 19">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>&nbsp; View profile</a>
          <a routerLink="/settings" [routerLinkActive]="['active']" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 17 19">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
          </svg>&nbsp; Settings</a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 17 17">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>&nbsp; Logout</a>
      </div>
    </li>
    <li class="nav-list-item" *ngIf="!isUserLoggedIn">
      <a class="nav-link" routerLink="/signin" [routerLinkActive]="['active']">Signin</a>
    </li>
    <li class="nav-list-item" *ngIf="!isUserLoggedIn">
      <a class="nav-link" routerLink="/signup" [routerLinkActive]="['active']">Signup</a>
    </li>
  </ul>
</nav>
