.signinformbox {
  border: 1px cadetblue solid;
  border-radius: 8px;
  background-color: white;
  left:200px;
  top:90px;
}
.google {
  width: 220px;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
  border-color: rgb(47, 1, 216);
}

.google:hover, .facebook:hover {
  border-radius: 18px;
}

h3 {
  font-family: sans-serif;
  font-size: 24px;
}

.row{
  margin: 12px !important;
}


h4 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 50px;
  margin: 50px;
  color: rgb(34, 33, 33);
}

h5 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 25px;
  margin-top: 10px;
}

.facebook{
  width: 220px;
  text-align: center;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 10px;
  border-color: rgb(8, 4, 194);
}


@media screen and (max-width: 767px) {  
  .signinformbox{
    top:30px;
    left:10px;
    margin:5px;
    margin-top: 30px;
    width: 95%;
  }

  .row{
    margin: 0px !important;
  }

  .signin-title{
    margin-left: 0px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  button{
    margin-top: 10px;
  }

  .facebook{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 468px) {
  .signinformbox{
    top:30px;
    left:0px;
    margin:5px;
    margin-bottom: 50px;
  }

  .signin-title{
    margin: 0px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  button{
    margin-top: 10px;
  }

  .facebook{
    margin-bottom: 20px;
  }
}
