<div class="card">
    <div class="card_part card_part-one">
        <img [src]="images[0]" alt="" height="100%" width="100%">
    </div>
    <div class="card_part card_part-two">
        <img [src]="images[1]" alt="" height="100%" width="100%">
    </div>
    <div class="card_part card_part-three">
        <img [src]="images[2]" alt="" height="100%" width="100%">
    </div>
    <div class="card_part card_part-four">
        <img [src]="images[3]" alt="" height="100%" width="100%">
    </div>
</div>