// Image slides starts here....

*,
*::before,
*::after { box-sizing: border-box; }

.imagesSlides{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  
  width: 550px;
  height: 350px;
  overflow: hidden;
  margin-left: 50px;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  animation-delay: 21s;
}


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
}


@media screen and (max-width: 767px) {  
  .card{
    margin-left: 0px !important;
    margin: 0px !important;
    width: 100%;
    height: 231px;
  }

  .card::after {
    content: '';
    width: 100%;
    height: auto;
  }
  
  .card_part {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 468px) {
 .card{
    margin-left: 0px !important;
    margin: 0px !important;
    height: 231px;
  }

  .card::after {
    content: '';
    width: 100%;
    height: auto;
  }
  
  .card_part {
    width: 100%;
    height: auto;
  }
}